**/.gitignore
**/.git/
**/.github/
**/.pre-commit-config.yaml
**/target/
**/LICENSE
**/README.md
**/Dockerfile
**/Cargo.lock
**/docker-compose.yml
**/package-json
**/yarn.lock
**/node_modules/
**/test/
**/.eslintignore
**/.eslintrc.js
**/.prettierrignore
**/.prettierrc.json
**/images/
