version: '3'

services:
  auth-service:
    build:
      context: ./
      dockerfile: ./auth_service/Dockerfile
    container_name: auth-service
    environment:
      - ZKP_G=3
      - ZKP_H=5
      - ZKP_Q=10009
      - RUST_LOG=info
      - SERVER_LISTENING_ADDR=0.0.0.0:6969
    ports:
      - 6969:6969

  router:
    build:
      context: ./
      dockerfile: ./router/Dockerfile
    container_name: router
    environment:
      - ZKP_G=3
      - ZKP_H=5
      - ZKP_Q=10009
      - RUST_LOG=info
      - HTTP_PORT=8080
      - AUTH_SERVICE_URI=http://auth-service:6969
    links:
      - auth-service
